.category-div{
    background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
  border-radius: 8px;
  height: 243px;
  margin-left: 25px;
  padding: 60px 40px;
}
.category-div img{
    width: 70px;
    height: 70px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.10) 0%, rgba(152, 115, 255, 0.10) 100%);
    padding: 20px;
    border-radius: 8px;
}