.btn {
  border-radius: 8px;
  background: var(--Linear, linear-gradient(90deg, #7e90fe 0%, #9873ff 100%));
  color: white;
  font-weight: bold;
}
#padding-nav{
  padding-left: 32px;
}
.active{
  color: #9873FF;
  text-decoration: underline;
  text-underline-offset: 8px;
}
